{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    
    <form action="{% url 'encyclopedia:saveEdit' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
            <input id="title" name="title" value="{{ title|safe }}"/>
        </div>

        <div><label for="content">Content:</label></div>
        <div>
            <textarea id="content" name="content">{{singleResult}}</textarea>
        </div>
        
        <div style="margin: auto;">
            <input type="submit" value="Save"/>
        </div>
    </form>
    

{% endblock %}